<!DOCTYPE html>
<html>
<head>
    <title>Cypha Inc. - User Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/admin">Admin Panel</a>
        <a href="/login">User Panel</a>
        <!-- <a href="/register">Register</a> -->
    </nav>
    <h1>Login Page</h1>



    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li style="color: {% if 'success' in message %}green{% else %}red{% endif %};">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    
    <form method="POST" action="/login">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>

        <input type="submit" value="Login">
    </form>
    <a href="{{url_for('register')}}">Don't have an account?</a>
</body>
</html>
